<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.swissdeals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ch.swissdeals.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.swissdeals.DealsSubscribedActivity"
            android:label="@string/title_activity_deals_subscribed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ch.swissdeals.DealDetailsActivity"
            android:label="@string/title_activity_deal_details_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ch.swissdeals.DummyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.DealDownloaderService"
            android:enabled="true" />

        <!-- Will be called automatically when the device boots -->
        <receiver
            android:name=".service.DeviceBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
